{{#if session.isAuthenticated}}
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">NVM</a>
      <ul id="nav-mobile" class="left">
        <li><a {{ action 'invalidateSession' }}>Logout</a></li>
      </ul>
    </div>
  </nav>

  {{outlet}}

  {{!-- ember-cli-materialize modal container --}}
  {{md-modal-container}}
{{else}}
  {{outlet }}
{{/if}}