{{#if session.isAuthenticated}}
  <nav>
    <div class="nav-wrapper">
      <ul class="left">
        <li><a {{ action 'invalidateSession' }}>Logout</a></li>
      </ul>
      <ul class="right">
        <li>{{link-to 'New Photo' 'photos.new'}}</li>
      </ul>
    </div>
  </nav>

  {{outlet}}

  {{!-- ember-cli-materialize modal container --}}
  {{md-modal-container}}
{{else}}
  {{outlet}}
{{/if}}